{% extends "PUFPlatformBundle:Default:catalogue.html.twig" %}

{% block chercherResultat %}

{% for liste2 in query2 %}
<div style="margin-left: 50px;">
	<p>{{ liste2.titreAlbum }}</p>
	<img alt={{ liste2.titreAlbum }} src="data:image/png;base64, {{ liste2.pochette }}" style="height: 150px;width: 150px"/>
</div>
{% endfor %}

<br></br>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<form role="form" method="POST" class="form-inline">
				<div class="form-group">
					<input type="text" name="chercher_value" class="form-control"/>
					<button type="submit" class="btn btn-success">
						Submit
					</button>
				</div>
			</form>
			</br>
			<table class="table">
				<thead>
					<tr>
						<th>
							Nom Morceau
						</th>
						<th>
							Extrait
						</th>
						<th>
							Duree
						</th>
						<th>
							Prix
						</th>
						<th>
							Acheter
						</th>
					</tr>
				</thead>
				<tbody>
					{% for liste in query %}
					<tr>
						<td>
							{{ liste.nomDeFichier }}
						</td>
						<td>
							<audio src="{{ path('musik_extrait', {'extraitId' : liste.codeEnregistrement }) }}" controls=""></audio>
						</td>
						<td>
							{{ liste.dureeSeconde }}
						</td>
						<td>
							{{ liste.prix }}
						</td>
						<td>
							<form role="form" action="{{ path('panier_route') }}" method="POST" class="form-inline">
								<a href="#"><span class="glyphicon glyphicon-shopping-cart"></span></a>
								<button type="submit" class="btn btn-success" name="{{ liste.codeEnregistrement }}">
									Buy
								</button>
							</form>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>

{% endblock %}